.container{
    background-color: white;
    height: 100%;
    width: 100%;
    .separator{
        position: absolute;
        width: 0px;
        height: 90%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid #FFB2B2;
    }
    .left{
        position:absolute;
       // border: 1px solid #FFB2B2;
        width: 45%;
        height: 90vh;
        top: 50%;
        margin-left: 2%;
        transform: translate(0 , -50%);
        .row{
            height: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 6.25%;
        }
    }
    .right{
        position:absolute;
        border: 1px solid #FFB2B2;
        width: 45%;
        height: 90vh;
        top: 50%;
        right: 2%;
        transform: translate(0 , -50%);
    }
}